@*
    _EmployeePickerModal.cshtml
    Picker dialog used by the Delegate modal. Populated by getEmpList() in myJS.js.
*@
<div class="modal fade" id="employeePickerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h6 class="modal-title fw-bold"><i class="fa fa-user me-2"></i>Select Employee</h6>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-2">
                <div class="table-responsive">
                    <table id="tblManager" class="table table-sm table-hover table-bordered dt-section w-100">
                        <thead><tr><th>Emp ID</th><th>Name</th><th>Emp No</th></tr></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
